In [1]:
x="HEYO NIDHI"

In [2]:
print(x)

HEYO NIDHI

In [3]:
x=input("ENTER A NUMBER ")

ENTER A NUMBER 18

In [4]:
y=input("ENTER A NUMBER ")

ENTER A NUMBER 10

In [6]:
x+y

'1810'

In [8]:
int(x)+int(y)

28

In [9]:
int(x)-int(y)

8

In [10]:
int(x)*int(y)

180

In [11]:
int(x)/int(y)

1.8

In [13]:
type(x),type(y)

(str, str)

In [14]:
x=int(input("ENTER THE FIRST NUMBER "))

ENTER THE FIRST NUMBER 12

In [15]:
y=int(input("ENTER THE SECOND NUMBER "))

ENTER THE SECOND NUMBER 10

In [16]:
x+y

22

In [20]:
P=int(input("ENTER THE PRINCIPLE AMT "))

ENTER THE PRINCIPLE AMT 12000

In [21]:
N=int(input("ENTER THE NO OF YEARS "))

ENTER THE NO OF YEARS 12

In [22]:
R=int(input("ENTER THE RATE "))

ENTER THE RATE 5

In [23]:
I=P*N*R/100

In [26]:
print(I)

7200.0

In [27]:
X=int(input("ENTER YOUR MARK "))

ENTER YOUR MARK 80

In [32]:
if X>50:
  print('pass')
else:
  print('fail')

pass

In [42]:
S=int(input("ENTER YOUR SALARY : "))
if S>250000:
  print("YOUR TAXABLE")
else:
  print("YOUR NOT TAXABLE")

ENTER YOUR SALARY : 800000
YOUR TAXABLE

In [43]:
S=int(input("ENTER YOUR SALARY : "))
T=S*10/100
if S>250000:
  print("YOUR TAXABLE")
  print(T)
else:
  print("NOT TAXABLE")

ENTER YOUR SALARY : 800000
YOUR TAXABLE
80000.0

In [41]:
S=int(input("ENTER YOUR SALARY : "))
if S>250000:
  print("YOUR TAXABLE")
  T=(S-250000)*10/100
  print(T)
else:
  print("NOT TAXABLE")

ENTER YOUR SALARY : 800000
YOUR TAXABLE
55000.0

In [44]:
S=int(input("ENTER YOUR SALARY : "))
if S>250000 and S<500000:
  print("YOUR TAXABLE")
  T=(S-250000)*10/100
  print(T)
if S>500000:
  print("YOUR TAXABLE")
  T=(S-250000)*20/100
  print(T)
else:
  print("NOT TAXABLE")

ENTER YOUR SALARY : 800000
YOUR TAXABLE
110000.0